@model IEnumerable<Rotv.Models.System>
<p>&nbsp;</p>
@foreach (var system in Model)
{
    <p>
    <strong>@system.name (Last Updated: @system.updated_at_display)</strong><br>
    <strong>@system.controlling_minor_faction</strong> - <strong>@system.state</strong>
    </p>
    @foreach (var faction in system.minor_faction_presences)
    {
        <span style="margin-left: 50px;">@faction.name</span><br>
        <span style="margin-left: 50px;">@faction.state</span>
        <div style="margin-left: 50px; width: 75%;" class="progress">
                <div class="progress-bar" role="progressbar" style="width: @faction.influence_display%;" aria-valuenow="@faction.influence_display" aria-valuemin="0" aria-valuemax="100">@faction.influence_display</div>
        </div>
    }
}

